.date__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 700px;
}

.date__item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 20px;

}

.date__item:hover {
  background-color: #eeeeee;
  color: #222222;
  opacity: 0.9;
}

.active {
  background-color: #4b27d0;
  color: white;
}